<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLrv2l_BqGAPy5V_4j2aZRuum9Baofdug</string>
	<key>GCM_SENDER_ID</key>
	<string>326108702133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codingsite.fridge</string>
	<key>PROJECT_ID</key>
	<string>fridge-65f05</string>
	<key>STORAGE_BUCKET</key>
	<string>fridge-65f05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:326108702133:ios:a0b57a1dc86023960da5fc</string>
</dict>
</plist>